# ~/.inputrc

# Use vi mode
# set editing-mode vi

# Show all completions as soon as you press TAB
set show-all-if-ambiguous on

# Case-insensitive completion
set completion-ignore-case on

# "\C-i": menu-complete

# Enable bracketed paste mode
# set enable-bracketed-paste on

# Use visible bell instead of beeping
# set bell-style visible

# Show mark indicators in the prompt
# set show-mode-in-prompt on 
